html {
    scroll-behavior: smooth;
}
span.anchor {
    display: block;
    padding-top: 3rem;
    margin-top: -3rem;
}

.marur {
    font-family: vdl-v7marugothic, sans-serif;
    font-style: normal;
    font-weight: 500;
}
.marub {
    font-family: vdl-v7marugothic, sans-serif;
    font-style: normal;
    font-weight: 700;
}
.imgblock {
    width: 40rem;
    max-width: 95%;
}
.mojiblock {
    width: 40rem;
    max-width: 95%;
}
.bgimage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(images/illB.png);
    background-repeat:  no-repeat;
    background-position: center center;
    position: fixed;
    z-index: -10;
    background-color:rgba(255, 255, 255, 0.5);
    background-blend-mode:lighten;
}
.headershadow {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background-color: transparent;
}
.box1 {
    width: 40rem;
    max-width: 95%;
    position: relative;
}
.box1:before,
.box1:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    left: -2px;
    border: 2px solid rgba(255, 255, 255, 0.88);
    box-sizing: border-box;
    z-index: -1;
}
.box1:after {
    top: 2px;
    left: 2px;
    background-color: rgba(250, 250, 250, 0.85);
    z-index: -2;
}
.sign {
    pointer-events: none;
}